exportPattern("^[[:alpha:]]+")
exportMethods(
    "acs.colnames<-",
    "acs.colnames",
    "acs.units<-",
    "acs.units",
    "api.for",
    "api.in",
    "apply",
    "-",
    "/",
    "[<-",
    "[",
    "[[",
    "*",
    "+",
    "c",
    "combine<-",
    "combine",
    "combine.term<-",
    "combine.term",
    "currency.year<-",
    "currency.year",
    "endyear<-",
    "endyear",
    "estimate",
    "geography<-",
    "geography",
    "geo.list",
    "length",
    "modified",
    "name",
    "plot",
    "results",
    "show",
    "span<-",
    "span",
    "standard.error",
    "sum",
    "summary"
)
S3method(confint,acs)
S3method(dim,acs)
S3method(length,acs)
S3method(prompt,acs)
exportClasses(
    "acs",
     "acs.lookup",
     "geo",
     "geo.set"
)
importFrom(utils,prompt)
importFrom(plyr,rbind.fill)
importFrom(stringr, str_extract, str_sub)
importFrom(XML, free, xmlGetAttr, xmlInternalTreeParse, xpathSApply)
importFrom("graphics", "abline", "axis", "lines", "par", "points")
importFrom("stats", "confint", "dnorm", "qnorm")
importFrom("RCurl", "url.exists")
importFrom("utils", "data", "file_test", "head", "read.csv", "tail", "unzip", "download.file")
importFrom("methods", "hasArg", "new", "show", "validObject")
